<div class="doctors-wrapper">
  <header>
    <div class="module-title">
      <div class='title'>DOCTORS LIST</div>
      <div class='underline'></div>
    </div>
    <div class='add-doctor' (click)="onAddDoctor()">
      <div class="e-icon-add e-icons"></div>
      <div class="add-doctor-label">Add New</div>
    </div>
  </header>
  <div class="specialization-detail-wrapper">
    <div class="specialization-types">
      <ejs-dropdownlist id='Specialization' #specializationObj [dataSource]='specializationData'
        [showClearButton]='true' (change)='onSpecializationChange($event)' [fields]='fields'
        placeholder='Select a Specialization' popupHeight='230px'>
      </ejs-dropdownlist>
      <button ejs-button cssClass="e-normal" (click)='onAddDoctor()' [isPrimary]="true">Add New Doctor</button>
    </div>
    <div #specialistItemObj class='specialist-display'>
      <div (click)='onSpecialistClick($event)' *ngFor="let data of filteredDoctors">
        <div class='specialist-item' id=Specialist_{{data.Id}}>
          <div class="specialist-image">
            <img class="profile" src="./assets/images/{{data.Text}}.png" alt="doctor" />
            <span class='availability {{data.Availability}}'></span>
            <span class='upload icon-upload_photo {{data.NewDoctorClass}}'></span>
          </div>
          <div class="specialist-detail">
            <div class="name">
              Dr. {{data.Name}}
            </div>
            <div class="education">
              {{getEducation(data.Education)}}
            </div>
            <div class="specialist-experience">
              <div class="specialization">
                <span class="label-text">Specialization</span>
                <span class="specialization-text">{{data.Designation}}</span>
              </div>
              <div class="experience">
                <span class="label-text">Experience</span>
                <span class="specialization-text">{{data.Experience}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-edit-doctor #addEditDoctorObj (refreshDoctors)="updateDoctors()"></app-add-edit-doctor>